==
<!-- header begin -->
        <header>
            <div class="container">
                <span id="menu-btn"></span>
                <div class="row">
                    <div class="col-md-3">

                        <!-- logo begin -->
                        <div id="logo">
                            <div class="inner">
                                <a href="{{ 'index'|page }}">
                                    <img src="img/logo.png" alt="" class="logo-1">
                                    <img src="img/logo-2.png" alt="" class="logo-2">
                                </a>

                            </div>
                        </div>
                        <!-- logo close -->

                    </div>

                    <div class="col-md-9">

                        <!-- mainmenu begin -->
                        <div id="mainmenu-container">
                            <ul id="mainmenu">
                                <li><a href="{{ 'index'|page }}">Home</a>
                                  
                                </li>
                                <li><a href="{{ 'event'|page }}">Events</a>
                                  <li><a href="{{ 'music'|page }}">Music</a>
                                 
                                </li>
                                <li><a href="{{ 'preche'|page }}">Preche</a>
                                   
                                </li>
                             
                                <li><a href="{{ 'news'|page }}">News</a>
								
								</li>
                                <li><a href="{{ 'gallery'|page }}">Gallery</a></li>
                                <li><a href="{{ 'contact'|page }}">Contact</a></li>
                            </ul>
                        </div>
                        <!-- mainmenu close -->

                        <!-- social icons -->
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                        <!-- social icons close -->

                    </div>
                </div>
            </div>

        </header>
        <!-- header close -->